
<div style="width: 410px; margin-top: 4rem; border-radius: 3%;" class="text-center p-2 border border-dark mx-auto ">


  <!-- <div style="width: 100%;height: auto;"> -->
 <div class="row mt-5 mb-3" >
 <p class="col-lg-6 col-sm-12 font-weight-bolder ">نام و نام ‌خانوادگی</p>
 <p class="col-lg-6 col-sm-12"><%= fullname %></p>
</div>


<div class="row mb-3" >
 <p class="col-lg-6 col-sm-12 font-weight-bolder ">عنوان دوره</p>
 <p class="col-lg-6 col-sm-12"><%= title %></p>
</div>

<div class="row mb-3">
  <p class="col-lg-6 col-sm-12 font-weight-bolder">مبلغ پرداخت شده</p>
  <p class="col-lg-6 col-sm-12"><%= price %></p>
</div>

<div class="row mb-3">
  <p class="col-lg-5 col-sm-12 font-weight-bolder"> ایمیل</p>
  <p class="col-lg-6 col-sm-12"><%= email %></p>
</div>

<div class="row mb-3">
  <h5 class="col-lg-6 col-sm-12 font-weight-bolder ">شماره پیگیری</h5>
   <p class="col-lg-6 col-sm-12"><%= refId %></p>
</div>

<a class="btn btn-info mb-5 mt-5" href="http://localhost:3000">بازگشت صفحه اصلی</a>
<!-- </div> -->

</div>